.banner_container {
  background: url("../../assets/images/bg1.jpg");
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top 16px;
  /* background-size: contain; */
  /* margin-top: 10px; */
  /* padding-top: 150px; */
}
